[submodule "Reichsanzeiger-Repo"]
	path = Reichsanzeiger-Repo
	url = https://github.com/UB-Mannheim/Reichsanzeiger.git

[submodule "AppVisualAnzeights"]
	path = AppVisualAnzeights
	url = https://github.com/SimeonAllmendinger/AppVisualAnzeights.git
